<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        
    <!-- Add bin directories from all projects that generate packages -->
    <add key="TableStorage" value="TableStorage/bin/Release" />
    <add key="TableStorage.Core" value="TableStorage.Core/bin/Release" />
    <add key="TableStorage.Blobs" value="TableStorage.Blobs/bin/Release" />
    <add key="TableStorage.RuntimeCompilations" value="TableStorage.RuntimeCompilations/bin/Release" />
    <add key="TableStorage.Blobs.RuntimeCompilations" value="TableStorage.Blobs.RuntimeCompilations/bin/Release" />
  </packageSources>
</configuration>